CMakeCache.txt
CMakeFiles/*
cmake_install.cmake
detect_cuda_compute_capabilities.cpp
detect_cuda_version.cc
Makefile
images/*
TATS
.vscode
models/yolo/yolov5s6.coco.640.torchscript.pt
models/yolo/yolov5s6.coco.1280.torchscript.pt
models/yolo/yolov5m6.coco.640.torchscript.pt
models/yolo/yolov5s6.uno.640.torchscript.pt
models/haar/haarcascade_frontalface_default.xml
